In [ ]:
from utils import QueryLoader
dummy = {
	"coursePriority" :
	[
		{
			"courseName" : "서양철학의이해",
			"courseNumber" : "009357",
            "sectionNumber" : "1",
			"professorName" : "David M Hindman",
			"courseTime" : "10:30-12:00",
			"courseDay" : "수금",
            "credit" : 3
		},
		{
			"courseName" : "한국전통문화의이해",
			"courseNumber" : "009356",
            "sectionNumber" : "3",
			"professorName" : "시지은",
			"courseTime" : "15:00-16:30",
			"courseDay" : "월수",
            "credit" : 3
		}
	],

	"timeoff" :
	[
		{
			"day" : "목",
			"time" : "9:00-11:00"
		}
	],

        "dayoff" : ["화"],
        "department" : "소프트웨어학과",
        "semester" : 1,
        "credit" : 15
}

loader = QueryLoader(dummy['coursePriority'], dummy['timeoff'], dummy['dayoff'], dummy['department'], dummy['semester'])
print(loader.main_query)
print(loader.priority_course_query)

        SELECT courseNumber, sectionNumber, courseName, courseClassification, courseDescription, professorName, courseDay, courseTime, credits
        FROM courses
        WHERE
        (
        (
            yearSemester='1'
            AND courseClassification NOT IN ('전선', '전필', '공필')
            AND courseName IN ('미적분학1', '공업수학1', '선형대수', '일반물리및시뮬레이션', '이산수학및프로그래밍', '통계학개론')
        )
        OR
        (
            department_major='소프트웨어학과'
            AND yearSemester='1'
        )
        )
        AND NOT (
                courseDay LIKE '%목%'
                AND STR_TO_DATE(SUBSTRING_INDEX(courseTime, '-', -1), '%H:%i') > STR_TO_DATE('9:00', '%H:%i')
                AND STR_TO_DATE(SUBSTRING_INDEX(courseTime, '-', 1), '%H:%i') < STR_TO_DATE('11:00', '%H:%i')
            )AND NOT (
                (courseDay LIKE '%수%'
                OR courseDay LIKE '%금%')
                AND STR_TO_DATE(SUBSTRING_INDEX(courseTime, '-', -1), '%H:%i') > STR_TO_DATE('10:30', '%H:%i')
                AND STR_TO_DATE(SUBSTRING_INDEX(courseTime, '-', 1), '%H:%i') < STR_TO_DATE('12:00', '%H:%i')
            )AND NOT (
                (courseDay LIKE '%월%'
                OR courseDay LIKE '%수%')
                AND STR_TO_DATE(SUBSTRING_INDEX(courseTime, '-', -1), '%H:%i') > STR_TO_DATE('15:00', '%H:%i')
                AND STR_TO_DATE(SUBSTRING_INDEX(courseTime, '-', 1), '%H:%i') < STR_TO_DATE('16:30', '%H:%i')
            )
AND courseDay NOT Like '%화%'


        SELECT courseNumber, sectionNumber, courseName, professorName, courseDescription
        FROM courses
        WHERE
            (
                courseName = '서양철학의이해'
                AND courseNumber = '009357'
                AND sectionNumber = '1'
                AND professorName = 'David M Hindman'
            )
            OR
            (
                courseName = '한국전통문화의이해'
                AND courseNumber = '009356'
                AND sectionNumber = '3'
                AND professorName = '시지은'
            )

In [12]:
import os
import pymysql
from dotenv import load_dotenv
load_dotenv()
connection = pymysql.connect(
    host=os.getenv('DB_HOST'),
    port=int(os.getenv('DB_PORT')),
    user=os.getenv('DB_USER'),
    password=os.getenv('DB_PASSWORD'),
    db=os.getenv('DB_NAME')
)
cursor = connection.cursor()


department_filter_query = f"SELECT *FROM taken_courses"
cursor.execute(department_filter_query)
data = cursor.fetchall()
print(data)

()

In [ ]:
pip install uvicorn
pip install python-dotenv
pip install fastapi
pip install pymysql
pip install langchain